<mat-card class="card-md" *ngIf="paso !== null">
  <mat-card-content>
    <form (submit)="update()" [formGroup]="pasoGroup">
      <legend>EDITAR PASO DE TRAMITE</legend>
      <mat-form-field class="divider">
        <input matInput type="number" formControlName="posicion" placeholder="Posicion" #posicion>
        <mat-hint align="end">{{posicion.value?.length || 0}}/150</mat-hint>
        <mat-error *ngIf="pasoGroup.get('posicion').status == 'INVALID'">El posicion es obligatoria</mat-error>
      </mat-form-field>
      <mat-form-field class="divider">
        <input matInput formControlName="titulo" placeholder="Titulo" #titulo maxlength="150">
        <mat-hint align="end">{{titulo.value?.length || 0}}/150</mat-hint>
        <mat-error *ngIf="pasoGroup.get('titulo').status == 'INVALID'">El titulo es obligatorio</mat-error>
      </mat-form-field>
      <mat-form-field class="divider">
        <textarea matInput formControlName="descripcion" placeholder="Descripcion" #descripcion maxlength="150"></textarea>
        <mat-hint align="end">{{descripcion.value?.length || 0}}/150</mat-hint>
        <mat-error *ngIf="pasoGroup.get('descripcion').status == 'INVALID'">La descripcion es obligatorio</mat-error>
      </mat-form-field>
      <mat-form-field class="divider">
        <input matInput formControlName="url" placeholder="URL" #url maxlength="150">
        <mat-hint align="end">{{url.value?.length || 0}}/150</mat-hint>
      </mat-form-field>
      <mat-form-field class="divider">
        <label>Ubicacion</label>
        <mat-select matInput formControlName="ubicacion_id">
          <mat-option [value]="ubicacion.id" *ngFor="let ubicacion of ubicaciones">
            {{ ubicacion.nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button type="submit" color="primary" [disabled]="pasoGroup.status == 'INVALID'">ACTUALIZAR</button>
    </form>
  </mat-card-content>
</mat-card>