<section class="container">
    <aside class="sidebar">
        <span class="sidebar-title"><button mat-raised-button mat-icon-button color="primary"><mat-icon>business</mat-icon></button> UBICACIONES</span>
        <a routerLink="/ubicacion/crear" color="primary">Crear</a>
        <a routerLink="/ubicacion" color="primary">Listar</a>

        <section class="dashboard">
            <section *ngFor="let categoria of categorias" [style.background]="categoria.color">
                <img class="dashboard-icon"
                     [style.background]="categoria.color"
                     src="{{environment.base}}{{environment.categoriaUbicacionIcono}}{{categoria.id}}"
                     routerLink="/ubicacion/listar/{{categoria.id}}">
                <span class="dashboard-title">{{ categoria.nombre }}</span>
            </section>
        </section>
    </aside>
    <section class="content">
        <router-outlet></router-outlet>
    </section>
</section>