<mat-card class="card-md">
  <mat-card-content>
    <form (submit)="changePassword()" [formGroup]="passwordGroup">
      <legend>CAMBIAR PASSWORD</legend>
      <mat-form-field class="divider">
          <input matInput formControlName="current_password" placeholder="Password actual" #current_password maxlength="25" [type]="hide ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          <mat-hint align="end">{{current_password.value?.length || 0}}/25</mat-hint>
          <mat-error *ngIf="passwordGroup.get('current_password').status == 'INVALID'">El password es obligatorio</mat-error>
      </mat-form-field>
      <mat-form-field class="divider">
          <input matInput formControlName="new_password" placeholder="Nuevo password" #new_password maxlength="25" [type]="hide1 ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hide1 = !hide1">{{hide1 ? 'visibility' : 'visibility_off'}}</mat-icon>
          <mat-hint align="end">{{new_password.value?.length || 0}}/25</mat-hint>
          <mat-error *ngIf="passwordGroup.get('new_password').status == 'INVALID'">El nuevo password es obligatorio, longitud minima de 8 caracteres y debe contener al menos 1 mayuscula, 1 minuscula, 1 numero y uno de los caracteres ! @ # $ % ^ & *</mat-error>
      </mat-form-field>
      <mat-form-field class="divider">
        <input matInput formControlName="new_password_repeated" placeholder="Repetir nuevo password" #new_password_repeated maxlength="25" [type]="hide2 ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility' : 'visibility_off'}}</mat-icon>
        <mat-hint align="end">{{new_password_repeated.value?.length || 0}}/25</mat-hint>
        <mat-error *ngIf="passwordGroup.get('new_password_repeated').status == 'INVALID'">La repeticion del nuevo password es obligatorio, longitud minima de 8 caracteres y debe contener al menos 1 mayuscula, 1 minuscula, 1 numero y uno de los caracteres ! @ # $ % ^ & *</mat-error>
      </mat-form-field>
      <button mat-raised-button type="submit" color="primary" [disabled]="passwordGroup.status == 'INVALID'">ACTUALIZAR PASSWORD</button>
    </form>
  </mat-card-content>
</mat-card>