<mat-card class="card-md" *ngIf="slider !== null">
  <mat-card-content>
    <form (submit)="update()" [formGroup]="sliderGroup">
      <legend>EDITAR SLIDER</legend>
      <mat-form-field class="divider">
        <textarea matInput formControlName="descripcion" placeholder="Descripcion" #descripcion maxlength="150"></textarea>
        <mat-hint align="end">{{descripcion.value?.length || 0}}/150</mat-hint>
        <mat-error *ngIf="sliderGroup.get('descripcion').status == 'INVALID'">La descripcion es obligatoria</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" [disabled]="sliderGroup.status == 'INVALID'">ACTUALIZAR</button>
    </form>
  </mat-card-content>
</mat-card>