<mat-card class="card-md" *ngIf="emergente !== null">
  <mat-card-content>
    <form (submit)="update()" [formGroup]="emergenteGroup">
      <legend>EDITAR NOTIFICACION EMERGENTE</legend>
      <mat-form-field class="divider">
        <input matInput formControlName="titulo" placeholder="Titulo" #titulo maxlength="50">
        <mat-hint align="end">{{titulo.value?.length || 0}}/50</mat-hint>
        <mat-error *ngIf="emergenteGroup.get('titulo').status == 'INVALID'">El titulo es obligatorio</mat-error>
      </mat-form-field>
      <mat-form-field class="divider">
        <textarea matInput formControlName="descripcion" placeholder="Descripcion" #descripcion maxlength="150"></textarea>
        <mat-hint align="end">{{descripcion.value?.length || 0}}/150</mat-hint>
        <mat-error *ngIf="emergenteGroup.get('descripcion').status == 'INVALID'">La descripcion es obligatoria</mat-error>
      </mat-form-field>
      <mat-radio-group formControlName="imagen" class="radio-group">
        <mat-radio-button *ngFor="let imagen of imagenes" [value]="imagen.key">
          {{ imagen.value }}
        </mat-radio-button>
      </mat-radio-group>
      <div class="divider">
        <button mat-raised-button color="primary">ACTUALIZAR</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>