<div class="fni-container mat-elevation-z8">
  <div class="fni-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar...">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="tramites" matSort>
    <ng-container matColumnDef="titulo">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Titulo </mat-header-cell>
      <mat-cell *matCellDef="let col"> {{col.titulo}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="descripcion">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </mat-header-cell>
      <mat-cell *matCellDef="let col"> {{col.descripcion}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </mat-header-cell>
      <mat-cell *matCellDef="let col; let i = index">
        <button mat-icon-button mat-button color="accent" matTooltip="Editar trámite" routerLink="/tramite/editar/{{col.id}}"><mat-icon>border_color</mat-icon></button>
        <button mat-icon-button mat-button color="warn" matTooltip="Eliminar trámite" (click)="openDialog(col.id, i)"><mat-icon>delete</mat-icon></button>
        <button mat-icon-button mat-button color="primary" matTooltip="Registrar paso" routerLink="/tramite/{{col.id}}/paso/crear"><mat-icon>sort</mat-icon></button>
        <button mat-icon-button mat-button color="default" matTooltip="Listar pasos" routerLink="/tramite/{{col.id}}/paso/listar"><mat-icon>view_list</mat-icon></button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">
  </mat-paginator>
</div>

